<div>
  <div class="head">
      <button class="btn btn-dark" type="button" id="c1">Create</button>
      <button class="btn btn-dark" type="button" id="j1">Join</button>
  </div>

  <div>
      <div class="classcollection">
          <div class="classobject" *ngFor="let c of user.classes">
              <a routerLink="/class/{{c.class_id}}">
                  <h3>{{ c.class_name }}</h3>
                  <h5> {{ c.class_subject }} </h5>
              </a>
          </div>
      </div>
  </div>
</div>

