<div>
    <nav>
        <a class="btn btn-dark" routerLink="./assignment">Assignment</a>
        <a class="btn btn-dark" routerLink="./quiz">Quiz</a>
        <a class="btn btn-dark" routerLink="./attendance">Attendance</a>
    </nav>
    <div class="hori-container">
      <div *ngIf="infoloaded">
        <app-noticeboard></app-noticeboard>
      </div>
      <div>
          <h4>Feeds</h4>
      </div>
      <div>
          <h4>Members</h4>
          <div class="memberobj dlevel3" *ngFor="let c of classinfo.class_teacher">
              <img src="{{ c.userimage }}" class="rounded-circle">
              <h5>{{ c.username }}</h5>
          </div>
          <div class="memberobj dlevel3" *ngFor="let c of classinfo.class_students">
              <img src="{{ c.userimage }}" class="rounded-circle">
              <h5>{{ c.username }}</h5>
          </div>
      </div>
    </div>

</div>
